* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
 
 
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  /* background-image: url(https://images.pexels.com/photos/1779487/pexels-photo-1779487.jpeg?cs=srgb&dl=pexels-designecologist-1779487.jpg&fm=jpg); */
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
}